# Java build files
*.class
*.jar

# IDE files
/.idea/
/*.iml
*.ipr
*.iws

# build folders
/out/
bin/
target/

# OS files
Thumbs.db
.DS_Store

# logs and temp
*.log
*.tmp

# screenshots (optional)
submission_screenshots/
